<div class="headline-section">
  <h2>{{ section.settings.headline }}</h2>
</div>

{% schema %}
{
  "name": "Heading",
  "settings": [
    {
      "type": "textarea",
      "id": "sub_headline",
      "label": "Sub Headline"
    },
    {
      "type": "textarea",
      "id": "headline",
      "label": "Headline"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Content"
    }
  ],
  "presets": [
    {
      "name": "Heading"
    }
  ]
}
{% endschema %}
