<div class="container">
  {% render 'breadcrumb' %}
</div>

{% schema %}
{
  "name": "Breadcrumb",
  "class": "breadcrumb-section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    }
  ],
  "presets": [
    {
      "name": "Breadcrumb"
    }
  ]
}
{% endschema %}
