{%- for block in section.blocks -%}
  {%- case block.type -%}
    {%- when '@app' -%}
      {% render block %}
    {% when 'text' %}
      {{ block.settings.text }}
    {% when 'title' %}
      <h1 class="product-title">{{ product.title }}</h1>
    {% when 'price' %}
      {% render 'price', product: product %}
  {% endcase %}
{% endfor %}

{% schema %}
{
  "name": "Product infomation",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "text",
      "name": "bsbvhjsdvs",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "text",
          "label": "hbvhdvf"
        }
      ]
    },
    {
      "type": "title",
      "name": "title",
      "limit": 1
    },
    {
      "type": "price",
      "name": "Price",
      "limit": 1
    },
  ],
  "settings": [{
      "type": "checkbox",
      "id": "enable_sticky_info",
      "default": true,
      "label": "t:sections.main-product.settings.enable_sticky_info.label"
    },],
  "presets": [{
    "name": "Product infomation"
  }]
}
{% endschema %}
