#offcanvasDrawer:before {
    height: 100%;
    width: 100%;
    background: #bdbdbd82;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
  transition: .3s;
}

.loading #offcanvasDrawer:before{
  content: "";
}

.btn-close{
  outline: none;
  transition: all .3s linear 0s;
    -webkit-transition: all .3s linear 0s;
}

.btn-close:hover {
    transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    color: var(--color-secondary);
}

.shipping-info svg{
  width: 20px;
}

.shipping-info .progress-container{
  background: #f1f1f1;
  height: 8px;
  border-radius: 30px;  
}

.shipping-info .progress-container div{
    background: var(--blue-light);  
  left:0
}

.cart-right-info .cart-title {
  font-size: 14px;
  color: #000;
  font-weight: 500;
  white-space: normal;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 8px;
}

.cart-item:not(:last-child){
      border-bottom: 1px solid #e8e8e8;
}

.cart-item .cart-thumbnail{
  width: 100px;
}

.cart-item .cart-thumbnail a{
  padding-top:120%;
}

.cart-item .cart-right-info{
  padding-left: 1rem;
}



.product-option {
    font-size: 12px;
    opacity: 0.5;
    margin-top: 4px;
    margin-bottom: 5px;
    line-height: 120%;
}

.lp-drawer__footer a{
  border:1px solid #000;
}

.quick-editcart-modal{
  overflow: hidden;
  border-radius: 10px;
  background: #fff;
  max-width: 850px;
  margin: 0 auto;
  padding: 40px;
  border-radius: 10px;
  display: block;
  position: relative;
}

.quick-editcart-modal .select-sticky, .quick-editcart-modal .popup_variant {
    /* display: none; */
}

.quick-editcart-modal .single_add_to_cart_button {
    background-color: #000;
    border: none;
    color: #fff;
    position: relative;
    padding: 0 15px;
    outline: 0;
    cursor: pointer;
    min-width: 250px;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    line-height: 50px;
}
