<div class="container">
  <div id="wishlist-container" class="py-20"></div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', async function () {

    let wishlist = localStorage.getItem('wishlist');

    if (wishlist === null) {
      wishlist = "";
    }

    let wishlistArray = wishlist.split(",").filter(Boolean);
        const response = await fetch(
            window.Shopify.routes.root + "search/?section_id=wishlist&type=product&options[unavailable_products]=last&q=" + wishlistArray.join(' OR ')
        );
        const html = await response.text();

        const tempDiv = document.createElement("div");
        tempDiv.innerHTML = html;

        const newBox = tempDiv.querySelector("#shopify-section-wishlist").innerHTML;

        const drawerCart = document.querySelector("#wishlist-container");
        if (drawerCart) {
          drawerCart.innerHTML = newBox;
        }
  });
</script>
